<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.myapplication">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="My App"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">
        <activity
            android:name=".PageAdapt"
            android:exported="false" />
        <activity
            android:name=".Recycle"
            android:exported="false" />
        <activity
            android:name=".Custom"
            android:exported="false" />
        <activity
            android:name=".ArrayAdapt"
            android:exported="false" />
        <activity
            android:name=".SimpleAdapters"
            android:exported="false" />
        <activity
            android:name=".AdapterHome"
            android:exported="false" />
        <activity
            android:name=".Calculator"
            android:exported="false"
            android:label="Calculator" />
        <activity
            android:name=".ThreadsDemo"
            android:exported="false" />
        <activity
            android:name=".SplashScreen"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LayoutExample"
            android:configChanges="screenSize|orientation|smallestScreenSize|screenLayout"
            android:exported="false"
            android:supportsPictureInPicture="true" />
        <activity
            android:name=".ScrollingActivity"
            android:exported="false"
            android:label="@string/title_activity_scrolling"
            android:theme="@style/Theme.MyApplication.NoActionBar" />
        <activity
            android:name=".Layout"
            android:exported="false" />
        <activity
            android:name=".LayoutHome"
            android:exported="false" />
        <activity
            android:name=".ForegroundService"
            android:exported="false" />
        <activity
            android:name=".Broacast"
            android:exported="false" />
        <activity
            android:name=".Bound"
            android:exported="false" />
        <activity
            android:name=".ExpService"
            android:exported="false" />
        <activity
            android:name=".ServiceHome"
            android:exported="false" />
        <activity
            android:name=".FragHome"
            android:exported="false" />
        <activity
            android:name=".FragPass"
            android:exported="false" />
        <activity
            android:name=".FragMain"
            android:exported="false" />
        <activity
            android:name=".Home"
            android:exported="true" />
        <activity
            android:name=".calcout"
            android:exported="false" />
        <activity
            android:name=".calcin"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".MainActivity3"
            android:exported="false"
            android:launchMode="singleInstance" />
        <activity
            android:name=".MainActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:exported="false"
            android:launchMode="standard" />
        <activity
            android:name=".MainActivity2"
            android:allowTaskReparenting="false"
            android:parentActivityName=".MainActivity"
            android:taskAffinity="com.example.myapplication.affinity" />

        <service android:name=".Mservice" />
        <service android:name=".BoundService" />
        <service android:name=".ServiceB" />

        <receiver
            android:name=".MyBroadCast"
            android:exported="true">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.provider.Telephony.SMS_RECEIVED" /> -->
            <!-- </intent-filter> -->
        </receiver>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>